.container {
    margin-bottom: 20px;
}

.exercise {
    border-top: 1px solid darkgrey;
    padding-top: 50px;
    margin-bottom: 50px;
}

.exercise_content {
    font-size: 22px;
    margin-bottom: 10px;
}

.stem {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap !important;
}

.answer_div label {
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap !important;
    margin-top: 6px;
    margin-left: 20px;
}

.answer {
    height: 16px;
    vertical-align: text-top;
    margin-top: 0;
    transform: scale(1.2);
}

.disable_btn:hover {
    cursor: no-drop;
}

.attachment_div {
    border: 1px solid whitesmoke;
}

.attachment_file {
    position: relative;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.attachment_file img {
    height: 100px;
    margin: 5px 10px;
    box-shadow: 0 0 3px 3px rgba(169, 169, 169, 0.51);
}

.attachment_controller {
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
}

.attachment_controller a {
    color: black;
}

.attachment_detail_div {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.31);
}

.attachment_detail_div img {
    position: absolute;
    height: 80%;
    left: 0;
    right: 0;
    top: 10%;
    /*bottom: 0;*/
    margin: auto;
    box-shadow: 5px 5px 20px 5px rgba(90, 90, 90, 0.51);
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
}